.calendar-container {
  border: solid;
  border-color: #000;
  background-color: var(--background-color);
  --background-color: #fff;
  --border-color: #fff;
  --color: #000;
}

.calendar-container.dark {
  --background-color: #1b1b1b;
  /* dark colors #1b1b1b #37373d #554f5d*/
  --border-color: #1b1b1b;
  --color: #fff;
}

.calendar-container.variable {
  width: 815px;
  height: 1061px;
}

.calendar-container.fixed {
  width: 505px;
  height: 640px;
  padding: 30px 40px;
}

/* .image-container :hover{
    background-color: #D4BFFF;
} */
.image-container {
  position: relative;
  background-color: #f1eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45%;

  .upload-text {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    height: 100%;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Roboto Flex;
    font-size: 14px;
  }

  p {
    font-family: Roboto Flex;
    font-size: 12px;
  }

  .img-preview {
    /* display: block; */
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  /* .img-preview:hover + .img-info {
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.00345888) 63.94%, rgba(0, 0, 0, 0.014204) 65.89%, rgba(0, 0, 0, 0.0326639) 67.83%, rgba(0, 0, 0, 0.0589645) 69.78%, rgba(0, 0, 0, 0.0927099) 71.72%, rgba(0, 0, 0, 0.132754) 73.67%, rgba(0, 0, 0, 0.177076) 75.61%, rgba(0, 0, 0, 0.222924) 77.56%, rgba(0, 0, 0, 0.267246) 79.5%, rgba(0, 0, 0, 0.30729) 81.44%, rgba(0, 0, 0, 0.341035) 83.39%, rgba(0, 0, 0, 0.367336) 85.33%, rgba(0, 0, 0, 0.385796) 87.28%, rgba(0, 0, 0, 0.396541) 89.22%, rgba(0, 0, 0, 0.4) 91.17%)
  } */

  /* The overlay effect - lays on top of the container and over the image */

  .img-preview-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;

    display: flex;
    /* text-align: center; */

    .img-preview-overlay-filename {
      color: #ffff;
      flex: 1;
      align-self: center;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  /* .img-preview-overlay {
    display: none;
  } */
}

/* When you mouse over the container, fade in the overlay title */
.image-container:hover .img-preview-overlay {
  opacity: 1;
}

/* .image-container .upload-text {
  justify-content: center;
} */
.calendar-header {
  /* height: 10vh; */
  font-family: Literata;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 2.5% 0;
  color: var(--color);
  background-color: var(--background-color);
}

.calendar-grid {
  font-family: Literata;
  font-weight: bold;
  display: grid;
  height: 270px;
  /* align-items: center; */
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(38px, auto);
}

.grid-cell {
  /* width: 30px; */
  /* height: 30px; */
  /* align-items: center; */
  background-color: antiquewhite;
  border: solid;
  border-color: var(--border-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
}

.day-cell {
  display: flex;
  padding-right: 4px;
  /* font-family: ; */
  /* font-size: 20px; */
  /* align-items: right; */
  justify-content: right;
}

.weekday-header {
  display: flex;
  align-items: center;
  justify-content: center;
}