.calendar-container {
  border: solid;
  border-color: #000;
  background-color: var(--background-color);
  --background-color: #fff;
  --border-color: #fff;
  --color: #000;
}

.calendar-container.dark {
  --background-color: #1b1b1b;
  /* dark colors #1b1b1b #37373d #554f5d*/
  --border-color: #1b1b1b;
  --color: #fff;
}

.calendar-container.variable {
  width: 815px;
  height: 1061px;
}

.calendar-container.fixed {
  width: 505px;
  height: 640px;
  padding: 30px 40px;
}

.image-container {
  background-color: #f1eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45%;

  h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Roboto Flex;
    font-size: 14px;
  }

  p {
    font-family: Roboto Flex;
    font-size: 12px;
    color: #898989;
  }
  
  .uploaded-img {
    width: 100%;
    height: 100%;
  }
}

.calendar-header {
  /* height: 10vh; */
  font-family: Literata;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 2.5% 0;
  color: var(--color);
  background-color: var(--background-color);
}

.calendar-grid {
  font-family: Literata;
  font-weight: bold;
  display: grid;
  height: 270px;
  /* align-items: center; */
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(38px, auto);
}

.grid-cell {
  /* width: 30px; */
  /* height: 30px; */
  /* align-items: center; */
  background-color: antiquewhite;
  border: solid;
  border-color: var(--border-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
}

.day-cell {
  display: flex;
  padding-right: 4px;
  /* font-family: ; */
  /* font-size: 20px; */
  /* align-items: right; */
  justify-content: right;
}

.weekday-header {
  display: flex;
  align-items: center;
  justify-content: center;
}