.generate[aria-disabled="true"] {
  background-color: #d9d9d9;
}

.generate {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;

  /* width: 121px; */
  height: 40px;
  border: 1px solid #000;
  background-color: #d4bfff;

}

.generate[aria-disabled="false"]:hover {
  background-color: #c6b4ff;
}

.button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  p {
    font-size: 16px;
    /* font-family: Roboto Flex; */
  }
}
